@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0.9821 0 0;
    --foreground: 0.2435 0 0;
    --card: 0.9911 0 0;
    --card-foreground: 0.2435 0 0;
    --popover: 0.9911 0 0;
    --popover-foreground: 0.2435 0 0;
    --primary: 0.4341 0.0392 41.9938;
    --primary-foreground: 1.0000 0 0;
    --secondary: 0.9200 0.0651 74.3695;
    --secondary-foreground: 0.3499 0.0685 40.8288;
    --muted: 0.9521 0 0;
    --muted-foreground: 0.5032 0 0;
    --accent: 0.9310 0 0;
    --accent-foreground: 0.2435 0 0;
    --destructive: 0.6271 0.1936 33.3390;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.8822 0 0;
    --input: 0.8822 0 0;
    --ring: 0.4341 0.0392 41.9938;
    --chart-1: 0.4341 0.0392 41.9938;
    --chart-2: 0.9200 0.0651 74.3695;
    --chart-3: 0.9310 0 0;
    --chart-4: 0.9367 0.0523 75.5009;
    --chart-5: 0.4338 0.0437 41.6746;
    --radius: 0.5rem;
    --sidebar: 0.9881 0 0;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: 0 0 0;
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --sidebar-background: 0 0% 98%}
  .dark {
    --background: 0.1776 0 0;
    --foreground: 0.9491 0 0;
    --card: 0.2134 0 0;
    --card-foreground: 0.9491 0 0;
    --popover: 0.2134 0 0;
    --popover-foreground: 0.9491 0 0;
    --primary: 0.9247 0.0524 66.1732;
    --primary-foreground: 0.2029 0.0240 200.1962;
    --secondary: 0.3163 0.0190 63.6992;
    --secondary-foreground: 0.9247 0.0524 66.1732;
    --muted: 0.2520 0 0;
    --muted-foreground: 0.7699 0 0;
    --accent: 0.2850 0 0;
    --accent-foreground: 0.9491 0 0;
    --destructive: 0.6271 0.1936 33.3390;
    --destructive-foreground: 1.0000 0 0;
    --border: 0.2351 0.0115 91.7467;
    --input: 0.4017 0 0;
    --ring: 0.9247 0.0524 66.1732;
    --chart-1: 0.9247 0.0524 66.1732;
    --chart-2: 0.3163 0.0190 63.6992;
    --chart-3: 0.2850 0 0;
    --chart-4: 0.3481 0.0219 67.0001;
    --chart-5: 0.9245 0.0533 67.0855;
    --radius: 0.5rem;
    --sidebar: 0.2103 0.0059 285.8852;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --shadow-color: 0 0 0;
    --shadow-opacity: 0.1;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0;
    --shadow-offset-y: 1px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --sidebar-background: 240 5.9% 10%}
  .theme {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em)
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}